@model WebApplication3.Models.classes.User

<h1>Create User</h1>

<form asp-controller="User"asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
        
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
        
    </div>

    <button type="submit">Create</button>
</form>

